
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Chats
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#">Examples</a></li>
        <li class="breadcrumb-item active">Chats</li>
    </ol>
</section>
<div class="container">
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="hidden" id="displayname" />
    <ul id="discussion">
    </ul>
</div>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-lg-3 col-md-12">
            <div class="box">
                <div class="box-header with-border p-0 pt-10">
                    <div class="form-element lookup">
                        <input class="form-control p-20 w-p100" type="text" placeholder="Search Contact">
                    </div>
                </div>
                <div class="box-body p-0">
                    <div id="chat-contact" class="media-list media-list-hover media-list-divided ">
                        <div class="media media-single">
                            <a href="#">
                                <img class="avatar avatar-xl" src="../../../images/avatar/2.jpg" alt="...">
                            </a>

                            <div class="media-body">
                                <h6><a href="#">Hossein Shams</a></h6>
                                <small class="text-green">Online</small>
                            </div>
                        </div>

                        <div class="media media-single">
                            <a href="#">
                                <img class="avatar avatar-xl" src="../../../images/avatar/1.jpg" alt="...">
                            </a>

                            <div class="media-body">
                                <h6><a href="#">Maryam Amiri</a></h6>
                                <small class="text-warning">Away</small>
                            </div>
                        </div>

                        <div class="media media-single">
                            <a href="#">
                                <img class="avatar avatar-xl" src="../../../images/avatar/3.jpg" alt="...">
                            </a>

                            <div class="media-body">
                                <h6><a href="#">Sarah Conner</a></h6>
                                <small class="text-danger">Busy</small>
                            </div>
                        </div>

                        <div class="media media-single">
                            <a href="#">
                                <img class="avatar avatar-xl" src="../../../images/avatar/4.jpg" alt="...">
                            </a>

                            <div class="media-body">
                                <h6><a href="#">Frank Camly</a></h6>
                                <small class="text-danger">Busy</small>
                            </div>
                        </div>

                        <div class="media media-single">
                            <a href="#">
                                <img class="avatar avatar-xl" src="../../../images/avatar/5.jpg" alt="...">
                            </a>

                            <div class="media-body">
                                <h6><a href="#">Ted Erricson</a></h6>
                                <small class="text-success">Online</small>
                            </div>
                        </div>

                        <div class="media media-single">
                            <a href="#">
                                <img class="avatar avatar-xl" src="../../../images/avatar/6.jpg" alt="...">
                            </a>

                            <div class="media-body">
                                <h6><a href="#">Ranian Mostalik</a></h6>
                                <small class="text-success">Online</small>
                            </div>
                        </div>

                        <div class="media media-single">
                            <a href="#">
                                <img class="avatar avatar-xl" src="../../../images/avatar/7.jpg" alt="...">
                            </a>

                            <div class="media-body">
                                <h6><a href="#">John Franklin</a></h6>
                                <small class="text-success">Online</small>
                            </div>
                        </div>

                        <div class="media media-single">
                            <a href="#">
                                <img class="avatar avatar-xl" src="../../../images/avatar/8.jpg" alt="...">
                            </a>

                            <div class="media-body">
                                <h6><a href="#">Emma Larson</a></h6>
                                <small class="text-success">Online</small>
                            </div>
                        </div>

                        <div class="media media-single">
                            <a href="#">
                                <img class="avatar avatar-xl" src="../../../images/avatar/3.jpg" alt="...">
                            </a>

                            <div class="media-body">
                                <h6><a href="#">Sarah Conner</a></h6>
                                <small class="text-danger">Busy</small>
                            </div>
                        </div>

                        <div class="media media-single">
                            <a href="#">
                                <img class="avatar avatar-xl" src="../../../images/avatar/4.jpg" alt="...">
                            </a>

                            <div class="media-body">
                                <h6><a href="#">Frank Camly</a></h6>
                                <small class="text-danger">Busy</small>
                            </div>
                        </div>

                        <div class="media media-single">
                            <a href="#">
                                <img class="avatar avatar-xl" src="../../../images/avatar/5.jpg" alt="...">
                            </a>

                            <div class="media-body">
                                <h6><a href="#">Ted Erricson</a></h6>
                                <small class="text-success">Online</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
        <div class="col-lg-9 col-md-12">
            <div class="box direct-chat">
                <div class="box-header with-border bg-lighter">
                    <h3 class="box-title">Chat Message</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div id="chat-app" class="direct-chat-messages chat-app">
                        <!-- Message. Default to the left -->
                        <div class="direct-chat-msg mb-30">
                            <div class="clearfix mb-15">
                                <span class="direct-chat-name">James Anderson</span>
                                <span class="direct-chat-timestamp pull-right">April 14, 2017</span>
                            </div>
                            <!-- /.direct-chat-info -->
                            <h1 class="direct-chat-img avatar" >J</h1>
                            <!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                <p>Hi</p>
                                <p>How are you ...???</p>
                                <p>What are you doing tomorrow?<br>Would you like to get out of the town for a while?</p>
                                <p class="direct-chat-timestamp"><time datetime="2018">23:58</time></p>
                            </div>

                            <!-- /.direct-chat-text -->
                        </div>
                        <!-- /.direct-chat-msg -->
                        <!-- Message to the right -->
                        <div class="direct-chat-msg right mb-30">
                            <div class="clearfix mb-15">
                                <span class="direct-chat-name pull-right">You</span>
                            </div>
                            <div class="direct-chat-text">
                                <p>Hiii, I'm good.</p>
                                <p>How are you doing?</p>
                                <p>Long time no see!</p>
                                <p class="direct-chat-timestamp"><time datetime="2018">00:06</time></p>
                            </div>
                            <!-- /.direct-chat-text -->
                        </div>
                        <!-- /.direct-chat-msg -->



                    </div>
                    <!--/.direct-chat-messages-->
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <form action="#" method="post">
                        <div class="input-group">
                            <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                            <div class="input-group-addon">
                                <div class="align-self-end gap-items">
                                    <span class="publisher-btn file-group">
                                        <i class="fa fa-paperclip file-browser"></i>
                                        <input type="file">
                                    </span>
                                    <a class="publisher-btn" href="#"><i class="fa fa-smile-o"></i></a>
                                    <a class="publisher-btn" href="#"><i class="fa fa-paper-plane"></i></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box-footer-->
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>
<!-- /.content -->
@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        $(function () {
            // Reference the auto-generated proxy for the hub.
            var chat = $.connection.chatHub;
            // Create a function that the hub can call back to display messages.
            chat.client.addNewMessageToPage = function (name, message) {
                // Add the message to the page.
            
                var mensaje = '<li class='+(name === sessionStorage.getItem("nombre")?"text-danger":"text-info")+'><strong>' + htmlEncode(name)
                    + '</strong>: ' + htmlEncode(message) + '</li>'
                $('#discussion').append(mensaje);
            };
            // Get the user name and store it to prepend to messages.
            var nombre = prompt('Enter your name:', '')
            sessionStorage.setItem("nombre", nombre)
            $('#displayname').val(nombre);
            // Set initial focus to message input box.
            $('#message').focus();
            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    // Call the Send method on the hub.
                    chat.server.send($('#displayname').val(), $('#message').val());
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });
            });
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}